body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
  
  .sidenav {
    height: 100vh;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2vh;
  }
  
  .sidenav a {
    padding: 2vh;
    text-decoration: none;
    font-size: 25px;
    color: #818181; 
    border-bottom: 1px solid #818181; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .sidenav-buttons {
    border-top: 1px red solid;
    margin-top: 20vh;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav a:active{
    color: #f1f1f1;
    background-color: red;
  }
  
  #currently-playing {
    background-color: red;
  } /*fix this to show the song they've selected to currently play*/

  .main {
    font-size: 28px; /* Increased text to enable scrolling */
  }

  .header {
    background-image: url(/Users/claireozee/documents/cfg_python/cfgsite/cfg_python_comp/static/images/header30.gif);
    background-position: center;
    background-size: cover;
    height: 10vh;
    padding: 1em;
  }

  .content {
    margin-left: 19vw; /* Width of the sidenav + 4vw */
    display: flex;
    padding: 4vw 0;
    padding-right: 4vw;
  }

#one {
    visibility: visible;
    border: solid 1px red;
}
#two {
    visibility: hidden;
}

#three {
    visibility: hidden;
}

#four {
    visibility: hidden;
}







  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }