body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
  
.sidenav {
    height: 100vh;
    width: 20vw;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidenav a {
    padding: 2vh;
    text-decoration: none;
    color: #818181; 
    border-bottom: 1px rgb(255, 165, 0, 0.6) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.sidenav a:hover {
    background-color: orange;
    opacity: 0.9;
}

.sidenav a:active{
    color: #f1f1f1;
    background-color: orange;
    opacity: 1;
}
  
.active {
    background-color: orange;
    opacity: 0.6;
    color: #f1f1f1;
}

.bi-soundwave {
    color:  orange; 
    position: absolute;
    top: 0px;
    left: 8%;
}

.contact-here {
    position: absolute;
    bottom: 1%;
    left: 8%;
    border: solid orange 1px;
    color: ;
}

.more {
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.bi-three-dots-vertical {
    padding: 1vh 0;
}

.bi-x {
    padding: 1.5vh 1vh;
}

.collapse {
    justify-content: start;
    right: 0;
    color: #818181;
}

.collapse h2, p {
    margin: 0;
    padding: 2vh;
}

.collapse h2 {
    margin-top: 10vh;
}

.main {
    color: white;
    height: 100vh;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 25px; /* Increased text to enable scrolling */
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    flex-direction: column;
}

.header {
    padding: 5vw;
    text-align: center;
}

.content {
    margin: 5vw;
    padding: 2vw;
    border: solid 1px orange;
}

  .result {
    border-bottom: 1px orange solid;
  }

  /* do thissss!
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }*/