<!DOCTYPE html>
<html>

    <head>
        <title>Our site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
    </head>

	<body>
        <div class="sidenav">
            <div class="sidenav-buttons">
					<a href="/index">Home</a>                    
					<a href="/apipage">Song</a>
					<a href="/ehoiew">three</a>
					<a href="/contactus">Contact us</a>
				</div>
            <div id="currently-playing">
                <span></span>
            </div>
        </div>
                  
        <div class="main">
            <div class="header"></div>
            <div class="content">
                <div class="result">
                    <h3>{{songresults}}</h3>
                </div>
                <br/>
                <div class="other-results">
                    <h3>results:</h3>
                    <p>{{results}}</p>
                    <h3>day:</h3>
                    <p>{{day}}</p>
                    <h3>wanttofeel:</h3>
                    <p>{{wanttofeel}}</p>
                </div>
            </div>
        </div>



    </body>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
        $( "#about" ).click(function() {
    $( "#one" ).toggle();
});

            
        </script>


</html>
  