<!DOCTYPE html>
<html>

    <head>
        <title>Songs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
    </head>

	<body>
        <div class="sidenav">
				<div class="sidenav-buttons">
						<a href="/index">home</a>                    
						<a href="/apipage">song</a>
						<a href="/ehoiew">three</a>
						<a href="/contactus">Contact us</a>
					</div>
            <div id="currently-playing">
                <span></span>
            </div>
        </div>
                  
        <div class="main">
            <div class="header"></div>
            <div class="content">
                <div id="songs">
					<h3>songs</h3>
					<p> info about how ....</p>
					<form id="joinform" method='post' action='/apiexample'>
						<label for="name" >How are you feeling?</label>
							<select name="feeling" required="required">
								<option value="happy">happy</option>
								<option value="sad">sad</option>
								<option value="excited">excited</option>
								<option value="etc">etc</option>
							</select>
						<br>
						<label for="name">Second question..</label>
							<select name="two" required="required">
								<option value="1">1</option>
								<option value="3">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>    
						<br>
						<input type="submit" value="Submit" id="submit-button">
					</form>
                </div>
        
            </div>
        </div>



    </body>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
        $( "#about" ).click(function() {
    $( "#one" ).toggle();
});

            
        </script>


</html>
  
  