<!DOCTYPE html>
<html>

    <head>
        <title>OUR SITE</title>
        <link rel="stylesheet" href="/Users/claireozee/documents/cfg_python/cfgsite/cfg_python_comp/static/css/stylesnew.css"/>
    </head>

	<body>
        <div class="sidenav">
            <div class="sidenav-buttons">
                <a href="#about">home</a>                    
                <a href="/Users/claireozee/documents/cfg_python/cfgsite/cfg_python_comp/templates/apipage.html">song</a>
                <a href="#three">three</a>
                <a href="/Users/claireozee/documents/cfg_python/cfgsite/cfg_python_comp/templates/contactus.html">Contact us</a>
            </div>
            <div id="currently-playing">
                <span></span>
            </div>
        </div>
                  
        <div class="main">
            <div class="header"></div>
            <div class="content">
                <div id="home">
                    <h3>us</h3>
                    <p>intro...</p>
                </div>
                


            </div>
        </div>



    </body>
    <script src="/Users/claireozee/documents/cfg_python/cfgsite/cfg_python_comp/static/js/jquery-3.3.1.min.js"></script>
    <script src="/Users/claireozee/documents/cfg_python/cfgsite/cfg_python_comp/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $( "#about" ).click(function() {
    $( "#one" ).toggle();
});

            
        </script>


</html>
  