<!DOCTYPE html>
<html>

	<head>
  	<title>OUR SITE</title>
  	<link rel="stylesheet" href="/Users/claireozee/documents/cfg_python/cfgsite/cfg_python_comp/static/css/styles.css"/>
  </head>

	<body>
  	<div class="page">
      <div class="navbar">
				<div class="navbar-box">
					<div class="navbar-content">
						<a href="/Users/claireozee/documents/cfg_python/cfgsite/cfg_python_comp/templates/index.html" class="button">Button 1</a>
						<a href="/Users/claireozee/documents/cfg_python/cfgsite/cfg_python_comp/templates/apipage.html" class="button">Songs</a>
						<a href="#home" class="button">Button 3</a>
						<a href="#home" class="button">Button 4</a>
						<a href="#home" class="button">Contact Us</a>
					</div>
				</div>
			</div>
			<div class='page-content'>
				<div class='header'>

				</div>

      	<div class="content">
        	content - bulk of the pages
      	</div>

      	<div class="bodyText">some text</div>
			</div>
    </div>

  </body>
	

</html>
